# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

compiler/build/
compiler/generated/
compiler/ifcc
*.mk

tests/ifcc-test.py
tests/ifcc-wrapper.sh
tests/ifcc-test-output/

.vscode/
compiler/.antlr/*
/tests/ifcc-test-output/
tests/unit_testing/build/*
.idea/
